beancount==3.2.0

# custom fava wheel prebuilt, changes from upstream fava:
# * fix for recent Fava journal update: https://github.com/beancount/fava/pull/2109
# * includes filter presets feature: https://github.com/beancount/fava/pull/1994
# browse full changes history here: https://github.com/beancount/fava/compare/main...Evernight:fava:fava-custom-build
fava @ https://github.com/Evernight/fava/raw/49b0016f9dbe6a902692f6e3182a957b2903f486/prebuilt_wheels/fava-1.30.7.dev7+g7e29b8c5c.tar.gz#sha1=1420561b61134678b6f89fd5f24becdad869f135

# not on pypi, using fixed commit
beanprice @ git+https://github.com/beancount/beanprice.git@f649ae69edd5a8c7ee2618dfebd219cc0119635f
# last commit before ec250696e1955edbbef8d01e5a33030be94d935c that breaks current Fava compatibility
beanquery @ git+https://github.com/beancount/beanquery.git@4a0e62a61e64807c9cd01ce32fb24721907b4c3b
pricehist==1.4.14

# this version resolution needed for features compatibility
# double-check if specifying it is still required
numpy==1.26.4

# to suppress beancount-import related warning
setuptools<81
# missing requirements for beancount-import
setuptools_scm>=5.0.2

# streamlit/frontend
streamlit==1.38.0
streamlit_option_menu==0.3.13
streamlit_ace==0.1.1
streamlit-echarts==0.4.0

# pyarrow 21 doesn't get built with older version of streamlit
# revisit after upgrading streamlit
pyarrow==16.1.0

# Fava extensions
fava-dashboards @ git+https://github.com/andreasgerstmayr/fava-dashboards.git@73bdfe25226a780a9e4d1bfe59fce8d0573c33b0
# contains few cherry-picked commits not merged into upstream yet 
# https://github.com/Evernight/fava-portfolio-returns/tree/cherry-picked-pre-release-for-lb-0.3.7
fava-portfolio-returns @ git+https://github.com/Evernight/fava-portfolio-returns.git@17ee92439fc41c485a76b8ffc71666e350e2169e
fava-investor==1.0.1

# Beancount plugins
beancount_share @ git+https://github.com/Akuukis/beancount_share.git@4101c45e16948c0683520cebcf88afe4862224c4
beancount_interpolate @ git+https://github.com/Akuukis/beancount_interpolate.git@e9c1241d5980781d270a7cc5c17cf2ca99c10faa
beancount-reds-plugins @ git+https://github.com/redstreet/beancount_reds_plugins@41af12d13c6ba5b2949b2939dfa180f43a5cb307
autobean @ git+https://github.com/SEIAROTg/autobean@b14d040eaa75a55731ef650e76425d7d356ec2b9

# Plugins without PyPI releases
beancount-lazy-plugins @ git+https://github.com/Evernight/beancount-lazy-plugins@c63c45e50c4a627a28c93ef0427cfc9866752cf2
beancount-importers @ git+https://github.com/Evernight/beancount-importers@06fcd1200d3825eb7a0669f35bd313b2efcaf8cd
