beancount==3.2.0

# custom fava wheel prebuilt, changes from upstream fava:
# * includes filter presets feature: https://github.com/beancount/fava/pull/1994
# browse full changes history here: https://github.com/beancount/fava/compare/main...Evernight:fava:fava-custom-build
fava @ https://github.com/Evernight/fava/raw/5eaeb1c627314c67d6620ca61b09fb8be574e8f0/prebuilt_wheels/fava-1.30.11.dev24+g38469e585.tar.gz#sha1=a7f8ec8c8b1fd995c038c734f460320bd319e64f

# not on pypi, using fixed commit
beanprice @ git+https://github.com/beancount/beanprice.git@3cd060713d753b414ed042586d9980cdd0cb0832
# last commit before ec250696e1955edbbef8d01e5a33030be94d935c that breaks current Fava compatibility
beanquery @ git+https://github.com/beancount/beanquery.git@4a0e62a61e64807c9cd01ce32fb24721907b4c3b
pricehist==1.4.14

# this version resolution needed for features compatibility
# double-check if specifying it is still required
numpy==1.26.4

# to suppress beancount-import related warning
setuptools<81
# missing requirements for beancount-import
setuptools_scm>=5.0.2

# streamlit/frontend
streamlit==1.52.2
streamlit_option_menu==0.3.13
streamlit_ace==0.1.1
streamlit-echarts==0.4.0

# Fava extensions
fava-dashboards @ git+https://github.com/andreasgerstmayr/fava-dashboards.git@88da44615106696d68a9f4a1bec923fb1c660c34
fava-portfolio-returns @ git+https://github.com/andreasgerstmayr/fava-portfolio-returns.git@5ecc3607069df644b150e6e287731d039eb13b9e
fava-currency-tracker @ git+https://github.com/Evernight/fava-currency-tracker.git@f0223a532517088fd2c2a712a3cd2e07ca4ec937
fava-investor==1.0.1
fava-git @ git+https://github.com/Evernight/fava-git.git@18a9b6e64b636bfa8673eee808892da01adf661b
beantab @ git+https://github.com/Evernight/beantab.git@cb7b066c18084bcffcf5b5934923a67f16a8b517

# Beancount plugins
beancount_share @ git+https://github.com/Akuukis/beancount_share.git@4101c45e16948c0683520cebcf88afe4862224c4
beancount_interpolate @ git+https://github.com/Akuukis/beancount_interpolate.git@e9c1241d5980781d270a7cc5c17cf2ca99c10faa
beancount-reds-plugins @ git+https://github.com/redstreet/beancount_reds_plugins@41af12d13c6ba5b2949b2939dfa180f43a5cb307
autobean @ git+https://github.com/SEIAROTg/autobean@b14d040eaa75a55731ef650e76425d7d356ec2b9

# Plugins without PyPI releases
beancount-lazy-plugins @ git+https://github.com/Evernight/beancount-lazy-plugins@bce45d4c1e3bf38a26bdfb760d1a65a001bc914d
beancount-importers @ git+https://github.com/Evernight/beancount-importers@06fcd1200d3825eb7a0669f35bd313b2efcaf8cd
