beancount==3.2.0

# custom fava wheel prebuilt, changes from upstream fava:
# * includes filter presets feature: https://github.com/beancount/fava/pull/1994
# browse full changes history here: https://github.com/beancount/fava/compare/main...Evernight:fava:fava-custom-build
fava @ https://github.com/Evernight/fava/raw/ec8ffc88d5ffa4e8d3c7bc0a38f98c5ed252af60/prebuilt_wheels/fava-1.30.7.dev24+gc4452d09b.tar.gz#sha1=b4461e79a7c4caf2ea182021c9b8c7cc18c75af7

# not on pypi, using fixed commit
beanprice @ git+https://github.com/beancount/beanprice.git@6961147e03fdf9196a161547190ae685a9e4ab91
# last commit before ec250696e1955edbbef8d01e5a33030be94d935c that breaks current Fava compatibility
beanquery @ git+https://github.com/beancount/beanquery.git@4a0e62a61e64807c9cd01ce32fb24721907b4c3b
pricehist==1.4.14

# this version resolution needed for features compatibility
# double-check if specifying it is still required
numpy==1.26.4

# to suppress beancount-import related warning
setuptools<81
# missing requirements for beancount-import
setuptools_scm>=5.0.2

# streamlit/frontend
streamlit==1.52.1
streamlit_option_menu==0.3.13
streamlit_ace==0.1.1
streamlit-echarts==0.4.0

# Fava extensions
fava-dashboards @ git+https://github.com/andreasgerstmayr/fava-dashboards.git@73bdfe25226a780a9e4d1bfe59fce8d0573c33b0
fava-portfolio-returns @ git+https://github.com/andreasgerstmayr/fava-portfolio-returns.git@caeff24e75fc888a591b25b9b4c8393cc9768c9d
fava-investor==1.0.1

# Beancount plugins
beancount_share @ git+https://github.com/Akuukis/beancount_share.git@4101c45e16948c0683520cebcf88afe4862224c4
beancount_interpolate @ git+https://github.com/Akuukis/beancount_interpolate.git@e9c1241d5980781d270a7cc5c17cf2ca99c10faa
beancount-reds-plugins @ git+https://github.com/redstreet/beancount_reds_plugins@41af12d13c6ba5b2949b2939dfa180f43a5cb307
autobean @ git+https://github.com/SEIAROTg/autobean@b14d040eaa75a55731ef650e76425d7d356ec2b9

# Plugins without PyPI releases
beancount-lazy-plugins @ git+https://github.com/Evernight/beancount-lazy-plugins@73b68ac40de47b8b68daeabb7b649e2ef52f0ae0
beancount-importers @ git+https://github.com/Evernight/beancount-importers@06fcd1200d3825eb7a0669f35bd313b2efcaf8cd
