investments {
  investment {
    currency: "SPY"
    asset_account: "Assets:MyStockBroker:SPY"
    cash_accounts: "Assets:MyStockBroker:Cash"
  }
  investment {
    currency: "SPX"
    asset_account: "Assets:MyStockBroker:SPX"
    cash_accounts: "Assets:MyStockBroker:Cash"
  }
  investment {
    currency: "VANGUARD-LS-80"
    asset_account: "Assets:Vanguard:VANGUARD-LS-80"
    cash_accounts: "Assets:MyFavouriteBank:Cash"
  }
  investment {
    currency: "GBP"
    asset_account: "Assets:MyAutomaticBroker:Total"
    cash_accounts: "Assets:MyFavouriteBank:Cash"
  }
}
groups {
  group {
    name: "My MyStockBroker picks"
    investment: "Assets:MyStockBroker:SPY"
    investment: "Assets:MyStockBroker:SPX"
    currency: "USD"
  }
  group {
    name: "Vanguard investment"
    investment: "Assets:Vanguard:*"
  }
  group {
    name: "MyAutomaticBroker investment"
    investment: "Assets:MyAutomaticBroker:*"
    currency: "USD"
  }
}

