investments {
  investment {
    currency: "SPY"
    asset_account: "Assets:MyStockBroker:SPY"
    cash_accounts: "Assets:MyStockBroker:Cash"
  }
  investment {
    currency: "GBP"
    asset_account: "Assets:MyAutomaticBroker:Total"
    cash_accounts: "Assets:MyFavouriteBank:Cash"
  }
  investment {
    currency: "GBP"
    asset_account: "Assets:MyCryptoBroker:ETH"
    cash_accounts: "Assets:MyFavouriteBank:Cash"
  }
}
groups {
  group {
    name: "MyStockBroker Picks"
    investment: "Assets:MyStockBroker:SPY"
    currency: "USD"
  }
  group {
    name: "MyAutomaticBroker Investment"
    investment: "Assets:MyAutomaticBroker:*"
    currency: "USD"
  }
  group {
    name: "Buy High Sell Low ETH"
    investment: "Assets:MyCryptoBroker:*"
    currency: "GBP"
  }
}

